# Don't put credentials into this shared file!

# FIXME: Test for op availability.
# FIXME: Run op login?
# FIXME: Convert back to item numbers to hide?

export GITHUB_TOKEN="$(
       op read op://HospitalIQ/github.com/ospideal
)"
export HOMEBREW_GITHUB_API_TOKEN="$(
       op read op://HospitalIQ/github.com/ospideal
)"
export MYSQL_ROOT_PASSWORD="$(
       op read op://HospitalIQ/"Intleacht MySQL Root"/password
)"

export NEPTUNE_API_TOKEN="$(
       op read op://Private/neptune.ml/token
)"
export PATIENTROUTE_MYSQL_PROD_USER="$(
       op read op://HospitalIQ/prod4/username
)"
export PATIENTROUTE_MYSQL_PROD_USER_PASSWORD="$(
       op read op://HospitalIQ/prod4/password
)"

export PATIENTROUTE_MYSQL_USER="$(
       op read op://HospitalIQ/"Intleacht MySQL User"/username
)"
export PATIENTROUTE_MYSQL_USER_PASSWORD="$(
       op read op://HospitalIQ/"Intleacht MySQL User"/password
)"

export JENKINS_USER_TOKEN="$(
       op read op://HospitalIQ/Jenkins/ospideal
)"
