# Don't put credentials into this shared file!

export GITHUB_TOKEN="$(
       op item get cr6bytei2jasbhdgt2pdascmzy --fields ospideal
)"
export HOMEBREW_GITHUB_API_TOKEN="$(
       op item get cr6bytei2jasbhdgt2pdascmzy --fields ospideal
)"
export MYSQL_ROOT_PASSWORD="$(
       op item get ryvxraqt2jhrng25qhn3rjnacu --fields 'Root Password'
)"

export NEPTUNE_API_TOKEN="$(
       op item get hv4ly6hri5bmnk4kuabbs4ouim --fields 'token'
)"
export PATIENTROUTE_MYSQL_PROD_USER="$(
       op item get bcaycqb5lneg3pchaz4xe46qfi --fields 'username'
)"
export PATIENTROUTE_MYSQL_PROD_USER_PASSWORD="$(
       op item get bcaycqb5lneg3pchaz4xe46qfi --fields 'password'
)"

export PATIENTROUTE_MYSQL_USER="$(
       op item get ryvxraqt2jhrng25qhn3rjnacu --fields 'Patientroute User'
)"
export PATIENTROUTE_MYSQL_USER_PASSWORD="$(
       op item get ryvxraqt2jhrng25qhn3rjnacu --fields 'Patientroute Password'
)"

export JENKINS_USER_TOKEN="$(
       op item get e3a6sckrb5hi3hrpjfybmdsprm --fields ospideal
)"
