---
ci: # https://pre-commit.ci
  autofix_prs: true
  autoupdate_schedule: monthly
  skip:
    - lychee # Requires rust.
    - prettier
    - pyright
    - shellcheck
  submodules: false

default_install_hook_types:
  - commit-msg
  - prepare-commit-msg
  - pre-commit
  - pre-merge-commit
  - pre-push
  - pre-rebase
  - post-checkout
  - post-commit
  - post-merge
  - post-rewrite

repos:
  # General

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # General
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending # Replaces or checks mixed line ending.
      # Both master and main are protected by default if no branch argument is set.
      - id: trailing-whitespace

      # Json
      - id: check-json
      # - id: pretty-format-json # Checks that all your JSON files are pretty.

  - repo: https://github.com/sirosen/texthooks
    rev: 0.7.1
    hooks:
      - id: fix-smartquotes
        exclude: \.dic$
      - id: fix-ligatures
        exclude: \.(aff|dic)$

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.36.1
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint

  - repo: https://github.com/lycheeverse/lychee.git
    rev: nightly
    hooks:
      - id: lychee
        args: ["--cache", "--suggest", "--exclude-loopback"]
        files: \.(md|txt)$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        stages: [pre-commit]
        files: '\.(js|ts|jsx|tsx|json|md|yaml|yml)$'
        args: [--ignore-unknown, --log-level, warn]

  # YAML

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yml]

  # Do after prettier

  # - repo: https://github.com/proinsias/mado
  #   rev: 1.0.0
  #   hooks:
  #    - id: mado

  # Secrets

  - repo: https://github.com/sirwart/ripsecrets
    rev: v0.1.11 # Use latest tag on GitHub
    hooks:
      - id: ripsecrets
        # uncomment to check additional patterns
        # args:
        # - --additional-pattern 'mytoken*'
        # - --additional-pattern 'mykey*'

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.6.0"
    hooks:
      - id: editorconfig-checker

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
        args: [--external-sources, --format=gcc, --shell=bash]

  - repo: https://github.com/ikamensh/flynt/
    rev: "1.0.6"
    hooks:
      - id: flynt

  - repo: https://github.com/dosisod/refurb
    rev: v2.2.0
    hooks:
      - id: refurb

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: "0.4.1"
    hooks:
      - id: auto-walrus

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v4.0.0
    hooks:
      - id: add-trailing-comma
        args:
          - --py36-plus

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.408
    hooks:
      - id: pyright

  - repo: https://github.com/pycqa/isort
    rev: "7.0.0"
    hooks:
      - id: isort
        name: isort (python)

  - repo: https://github.com/hadialqattan/pycln
    rev: v2.6.0 # Possible releases: https://github.com/hadialqattan/pycln/releases
    hooks:
      - id: pycln

  - repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
      - id: absolufy-imports

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.14"
    hooks:
      - id: ruff-check
        args: [--fix, --force-exclude, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      - id: ruff-format
        types_or: [python, pyi]
