# Don't put credentials or other secrets into this shared file!

export PYTHONUNBUFFERED=1

# https://stackoverflow.com/a/71594540
export DOCKER_DEFAULT_PLATFORM=linux/amd64

# For aider.
export OLLAMA_API_BASE=http://127.0.0.1:11434
