# Don't put credentials or other secrets into this shared file!
# source_up  # Find .envrc files above this directory.
dotenv_if_exists # Load .env file too.

export PYTHONUNBUFFERED=1

# https://stackoverflow.com/a/71594540
export DOCKER_DEFAULT_PLATFORM=linux/amd64

# For aider.
export OLLAMA_API_BASE=http://127.0.0.1:11434

# op run -- pop
# export POP_TO="$(op read op://Parents/Resend/username)"
# export RESEND_API_KEY="$(op read op://Parents/Resend/API\ Key)"
export POP_FROM="onboarding@resend.dev"
export POP_SIGNATURE="Sent with [Pop](https://github.com/charmbracelet/pop)!"

export OP_BIOMETRIC_UNLOCK_ENABLED=true
