[credential]
    helper = osxkeychain
[git-town]
    # Can't put this in included file.
    ship-delete-remote-branch = false
    sync-before-ship = true
    sync-feature-strategy = rebase
[include]
    path = ~/.gitconfig.include
[user]
    name = "Francis T. O'Donovan"
    email = proinsias@users.noreply.github.com
    signingkey = 6519D396
[safe]
       directory = /usr/local/Homebrew
       directory = /usr/local/Homebrew/Library/Taps/homebrew/homebrew-cask
       directory = /usr/local/Homebrew/Library/Taps/adoptopenjdk/homebrew-openjdk
       directory = /usr/local/Homebrew/Library/Taps/alehouse/homebrew-unofficial
       directory = /usr/local/Homebrew/Library/Taps/alexdavid/homebrew-tap
       directory = /usr/local/Homebrew/Library/Taps/docmunch/homebrew-pdftk
       directory = /usr/local/Homebrew/Library/Taps/homebrew/homebrew-bundle
       directory = /usr/local/Homebrew/Library/Taps/homebrew/homebrew-cask-drivers
       directory = /usr/local/Homebrew/Library/Taps/homebrew/homebrew-cask-fonts
       directory = /usr/local/Homebrew/Library/Taps/homebrew/homebrew-cask-versions
       directory = /usr/local/Homebrew/Library/Taps/homebrew/homebrew-command-not-found
       directory = /usr/local/Homebrew/Library/Taps/homebrew/homebrew-core
       directory = /usr/local/Homebrew/Library/Taps/homebrew/homebrew-services
       directory = /usr/local/Homebrew/Library/Taps/iterative/homebrew-dvc
       directory = /usr/local/Homebrew/Library/Taps/jonof/homebrew-kenutils
       directory = /usr/local/Homebrew/Library/Taps/jzaleski/homebrew-jzaleski
       directory = /usr/local/Homebrew/Library/Taps/vitorgalvao/homebrew-tiny-scripts
