DEFAULT_VENDOR=Ollama
DEFAULT_MODEL=llama3.2:latest
PATTERNS_LOADER_GIT_REPO_URL=https://github.com/danielmiessler/fabric.git
PATTERNS_LOADER_GIT_REPO_PATTERNS_FOLDER=patterns
GROQ_API_BASE_URL=https://api.groq.com/openai/v1
OLLAMA_API_URL=http://localhost:11434

# Don't set. Then fabric uses environment variables instead.
# GROQ_API_KEY="123"
# YOUTUBE_API_KEY="123"
