# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
anaconda-client
argcomplete
autopep8
awscli # not homebrew
aws-shell # not homebrew
cheat
emoji
glances
ntfy
pep257
pep8
psutil
pyflakes
pylint
slacker
thefuck # not homebrew
uncommitted
yamllint

