[credential]
    helper = osxkeychain
[include]
    path = ~/.gitconfig.include
[user]
    name = "Francis T. O'Donovan"
    email = proinsias@users.noreply.github.com
    signingkey = 74B07AE5FFB55BFC2FB8B25E8DBE5F9A6519D396
