github.com:
    user: proinsias
    # Don't use. Then gh will use GH_TOKEN.
    # oauth_token: "123"
    {{ end }}
    git_protocol: ssh
    users:
        proinsias:
            # Don't use. Then gh will use GH_TOKEN.
            # oauth_token:  "123"
