{{- $email := promptStringOnce . "email" "Email address" -}}

encryption = "age"

[data]
    name = "{{ promptStringOnce . "name" "Your full name" | default "Name" }}"
    email = {{ $email | quote | default "name@example.com" }}
    defaultkey = "{{ promptStringOnce . "defaultkey" "Default gpg key" | default "123}}"
    githubemail = "{{ promptStringOnce . "githubemail" "GitHub email address" | default "name@example.com" }}"
    opaccount = "{{ promptStringOnce . "opaccount" "1Password account" | default "opaccount"}}"
    slackrecipient = "{{ promptStringOnce . "slackrecipient" "Slack recipient" | default "slackuser"}}"
    slacktoken = "{{ promptStringOnce . "slacktoken" "Slack token" | default "123" }}"

    {{- $work := promptBoolOnce . "work" "Is this a work machine" | default False }}
    work = {{ $work }}

    {{- if $work }}
    # Work-specific configuration
    {{- else }}
    # Personal machine configuration
    {{- end }}

[age]
    # passphrase = true
    identity = "~/.config/chezmoi/key.txt"
    recipient = {{ onepasswordRead "op://Parents/chezmoi/public-key" | quote}}

[diff]
    command = "code"
    args = ["--wait", "--diff"]

[edit]
    command = "code"
    args = ["--wait"]

[git]
    autoCommit = false
    autoPush = false

[gpg]
    args = ["--quiet"]
    symmetric = true

{{ if eq .chezmoi.os "darwin" -}}
[[textconv]]
    pattern = "**/*.plist"
    command = "plutil"
    args = ["-convert", "xml1", "-o", "-", "-"]
{{- end }}
