addpath = '{{ .chezmoi.homeDir }}/idl_lib/:'
!PATH = expand_path('+' + !DIR + ':' + 'external' + ':' + !PATH)

if !path eq '' then $
    !path = addpath $
else !path = addpath + ':' + !path
;delvar, addpath

;astrolib

;@{{ .chezmoi.homeDir }}/idl_lib/PhysicalConstants.pro
