Include {{ .chezmoi.homeDir }}/.colima/ssh_config

Host bitbucket.???  # .org and .com
    ControlMaster no  # https://stackoverflow.com/a/52496021/1257318

Host *
    {{ if eq .chezmoi.os "darwin" }}
    IdentityAgent ~/.1password/agent.sock
    {{ end }}

    # Enable ssh multiplexing.
    ControlPath /tmp/ssh-%r@%h:%p
    ControlMaster auto
    ControlPersist 10m

    # UseKeychain yes

# For when a firewall refuses to allow SSH connections,
# use SSH over the HTTPS port.
# https://docs.github.com/en/authentication/troubleshooting-ssh/using-ssh-over-the-https-port
# Host github.com
#   Hostname ssh.github.com
#   Port 443
# https://support.atlassian.com/bitbucket-cloud/kb/port-22-is-blocked-on-local-network/
# Host bitbucket.org
#   Hostname altssh.bitbucket.org
#  Port 443
