#!/usr/bin/env bash

set -euo pipefail

echo
echo
echo "Upgrade packages."

{{ if and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu")) }}
echo -e "\napt-get update:"
apt-get update --yes
echo -e "\napt-get upgrade:"
apt-get upgrade --yes

apt list --upgradeable
{{ end }}

echo
brew upgrade --greedy

echo
brew cleanup

echo
brew doctor

echo
brew outdated

echo
docker-cleanup

if type gcloud >/dev/null 2>&1; then
    sudo gcloud components update --quiet
fi

echo
mise upgrade --bump

echo
mise doctor

echo
mas upgrade

echo
pre-commit-autoupdate | grep -v "already up to date"

echo
# FIXME: Setup git_repos? uv? myrepos?
topgrade --cleanup --no-retry --skip-notify --yes --disable \
    brew_cask \
    brew_formula \
    chezmoi \
    git_repos \
    mas \
    nix \
    uv

echo
uncommitted-francis "${HOME}"

echo
uv cache prune
