{{ if eq .chezmoi.os "windows" }}
# Set strict error handling
$ErrorActionPreference = "Stop"  # Exit on error
Set-StrictMode -Version Latest   # Disallow undefined variables

# Prevent overwriting files (similar to noclobber)
function SafeWrite-File {
    param (
        [string]$Path,
        [string]$Content
    )
    if (Test-Path $Path) {
        Write-Error "File '$Path' already exists. Aborting to prevent overwrite."
    } else {
        Set-Content -Path $Path -Value $Content
    }
}

# winget hash: {{ include "./private_dot_config/winget/winget-config.yaml" | sha256sum }}
Write-Host ""
Write-Host "Install winget packages."

winget configure -f ./private_dot_config/winget/winget-config.yaml
{{ end }}
