{{ if eq .chezmoi.os "darwin" -}}
#!{{ lookPath "sh" }}

set -euo pipefail

echo
echo
echo "Enable Touch ID for sudo."

sudo tee /etc/pam.d/sudo_local >/dev/null <<EOF
# sudo_local: local config file which survives system update and is included for sudo.
# Enable Touch ID for sudo.
auth sufficient pam_tid.so
EOF
{{ end -}}
