{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -o errexit    # Exit on error. Append || true if you expect an error.
set -o errtrace   # Exit on error inside any functions or subshells.
set -o noclobber  # don't allow overwriting files
set -o nounset    # Don't allow use of undefined vars. Use ${VAR:-} to use an undefined VAR.
set -o pipefail   # Produce a failure return code if any pipeline command errors
shopt -s failglob # Cause globs that don't get expanded to cause errors

# Only run if it is an interactive shell
if [[ ! -t 0 ]] || [[ -z "${PS1:-}" ]] || [[ "$-" != *i* ]]; then
    exit 0
fi

echo -e "\n\nEnable Touch ID for sudo."

sudo tee /etc/pam.d/sudo_local >/dev/null <<EOF
# sudo_local: local config file which survives system update and is included for sudo.
# Enable Touch ID for sudo.
auth sufficient pam_tid.so
EOF
{{ end -}}
