{{  if ne .chezmoi.os "windows" }}
#!/usr/bin/env bash

set -o errexit                # Exit on error. Append || true if you expect an error.
set -o errtrace               # Exit on error inside any functions or subshells.
set -o noclobber              # Don't allow overwriting files.
set -o nounset                # Don't allow use of undefined vars. Use ${VAR:-} to use an undefined VAR.
set -o pipefail               # Produce a failure return code if any pipeline command errors.
shopt -s failglob             # Cause globs that don't get expanded to cause errors.
shopt -s globstar 2>/dev/null # Match all files and zero or more sub-directories.

echo
echo
echo "Adding symbolic links for oh-my-zsh plugins."

mkdir -p \
    ~/.oh-my-zsh/custom/plugins/atuin \
    ~/.oh-my-zsh/custom/plugins/chezmoi \
    ~/.oh-my-zsh/custom/plugins/cht \
    ~/.oh-my-zsh/custom/plugins/git-town \
    ~/.oh-my-zsh/custom/plugins/gitleaks \
    ~/.oh-my-zsh/custom/plugins/nbp \
    ~/.oh-my-zsh/custom/plugins/op \
    ~/.oh-my-zsh/custom/plugins/rustup

ln -f -s {{ .chezmoi.sourceDir }}/sym_oh-my-zsh/custom/plugins/atuin/_atuin \
    ~/.oh-my-zsh/custom/plugins/atuin/_atuin
ln -f -s {{ .chezmoi.sourceDir }}/sym_oh-my-zsh/custom/plugins/chezmoi/_chezmoi \
    ~/.oh-my-zsh/custom/plugins/chezmoi/_chezmoi
ln -f -s {{ .chezmoi.sourceDir }}/sym_oh-my-zsh/custom/plugins/cht/_cht \
    ~/.oh-my-zsh/custom/plugins/cht/_cht
ln -f -s {{ .chezmoi.sourceDir }}/sym_oh-my-zsh/custom/plugins/git-town/_git-town \
    ~/.oh-my-zsh/custom/plugins/git-town/_git-town
ln -f -s {{ .chezmoi.sourceDir }}/sym_oh-my-zsh/custom/plugins/gitleaks/_gitleaks \
    ~/.oh-my-zsh/custom/plugins/gitleaks/_gitleaks
ln -f -s {{ .chezmoi.sourceDir }}/sym_oh-my-zsh/custom/plugins/nbp/_nbp \
    ~/.oh-my-zsh/custom/plugins/nbp/_nbp
ln -f -s {{ .chezmoi.sourceDir }}/sym_oh-my-zsh/custom/plugins/op/_op \
    ~/.oh-my-zsh/custom/plugins/op/_op
ln -f -s {{ .chezmoi.sourceDir }}/sym_oh-my-zsh/custom/plugins/rustup/_rustup \
    ~/.oh-my-zsh/custom/plugins/rustup/_rustup
{{ end }}