# mise config hash: {{ include "./private_dot_config/mise/config.toml.tmpl " | sha256sum }}
{{  if eq .chezmoi.os "windows" }}
Write-Host ""
Write-Host "Install mise packages."

Write-Host ""
mise install --yes
{{ else }}
#!{{ lookPath "bash" }}

echo
echo
echo "Install mise packages."

echo
mise install --yes
{{ end }}

