######################################################################
## minute         0-59
## hour           0-23
## day of month   1-31
## month          1-12 (or names, see below)
## day of week    0-7 (0 or 7 is Sun, or use names)
######################################################################
{{- if or (eq .chezmoi.hostname "ilovemovies") (eq .chezmoi.hostname "mercury") }}
00 23  * * * {{ .chezmoi.homeDir }}/.local/bin/chezmoi-update
{{- end }}
{{- if eq .chezmoi.hostname "ilovemovies"}}
00 02  * * * {{ .chezmoi.homeDir }}/.local/bin/backup-photos
00 06  * * * {{ .chezmoi.homeDir }}/.local/bin/rsync-nas-icloud-drive
00 12  * * * {{ .chezmoi.homeDir }}/.local/bin/link-audiobooks-ntfy
{{- end }}
