# Static analysis and lint tool, for (ba)sh scripts
brew "shellcheck"
# Static checker for GitHub Actions workflow files
brew "actionlint"
# Simple, modern, secure file encryption
brew "age"
# GNU compiler collection
brew "gcc"
# AI pair programming in your terminal
brew "aider"
# Display directories as trees (with optional color/HTML output)
brew "tree"
# Automate deployment, configuration, and upgrading
brew "ansible"
# Simple system information tool written in Python
brew "archey4"
# Spell checker with better logic than ispell
brew "aspell"
# Improved shell history for zsh, bash, fish and nushell
brew "atuin"
# Automatic configure script builder
brew "autoconf"
# Tool for generating GNU Standards-compliant Makefiles
brew "automake"
# Security-oriented static analyser for Python code
brew "bandit"
# Bourne-Again SHell, a UNIX command interpreter
brew "bash"
# Programmable completion for Bash 3.2
brew "bash-completion"
# Clone of cat(1) with syntax highlighting and Git integration
brew "bat"
# New way to see and navigate directory trees
brew "broot"
# Bash completion for Bundler
brew "bundler-completion"
