[credential]
    helper = osxkeychain
[include]
    path = ~/.gitconfig.include
[user]
    name = "Francis T. O'Donovan"
    email = proinsias@users.noreply.github.com
    signingkey = 740CFB25
[fetch]
    prune = true
